* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}
.top-page-header.list-rights {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}


.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toilet-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  top: 5px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  color: #666;
  font-weight: bold;
}


.logout {
  line-height: 32px;
  margin-right: 3vw;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.guest-login {
  line-height: 32px;
  margin-right: 3vw;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: red;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.login {
  line-height: 32px;
  margin-right: 3vw;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.sign-up {
  line-height: 32px;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}