/* スマホ表示時 */
@media (max-width: 599px) {
  p {
    font-size: 20px
  }
}

.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 160px;
}
