/* スマホ表示時 */
/* スマホ表示時 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
 }

.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 160px;
}
