<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
  </div>
  <%= image_tag "socialtoilet-logo.jpg", class:"second-fotter-logo"%>
</footer>